<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" style="margin-top: -26px !important;">
<!-- BEGIN CONTENT BODY -->
<div class="page-content" style="margin-left: 233px; margin-right: -15px;">
<!--BEGIN breadcrumb -->
<ul style="display:none" class="page-breadcrumb breadcrumb">
<li>
	<a [routerLink]="['/App']"> Home </a>
	<i class="fa fa-circle"></i>
</li>
<li>
	<a [routerLink]="['/App/RRF/RRFDashboard']"> RRF Dashboard </a>
	<i class="fa fa-circle"></i>
</li>
<li>
	<span class="active">Candidates</span>
</li>
</ul>
<!--End Breadcrumb>-->

<div class="row">
	<div class="portlet-body">
		<div class="col-lg-12">
			<div class="portlet light bordered" style="margin-left: -32px;">
<div class="portlet-title">
	<div class="row" style="margin-left:1px;">
		<a class="btn green" (click)='Back()'> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</a>
	</div>

	<div class="caption">
		<span class="caption-subject bold uppercase">Tagged candidates for {{selectedRRF.PositionTitle}}</span>
	</div>

</div>
<div class="portlet-body">
	<div class="row">
		<div class="col-lg-12">
			<RRFGridRow [RRFData]=selectedRRF></RRFGridRow>
			<!--<table class="table table-striped table-bordered table-hover table-checkable order-column">
										<thead style="word-wrap: break-word;">
											<tr>
												<td> <b>Raised by/Date</b> </td>
												<td> <b>Position Details</b> </td>
												<td> <b>Requirments </b></td>
												<td> <b>Priority</b></td>
												<td> <b>Status </b></td>
											</tr>
										</thead>
										<tbody>
											<tr class="odd gradeX">
												<td>
													<div align="left">
														{{selectedRRF.RaisedBy.Value }}
														<br> {{selectedRRF.CreatedDate}}
													</div>
												</td>
												<td>
													<div align="left">
														Tech. : {{selectedRRF.Technology.Value }}
														<br>Position : {{selectedRRF.PositionTitle}}
													</div>
												</td>
												<td>
													<div align="left">
														Skills :
														<label *ngFor="let skill of selectedRRF.SkillsRequired">
                                                            {{skill.Value}}
                                                        </label>
														<br>Date of Joining : {{selectedRRF.ExpDateOfJoining }}
														<br>Min.Exp : {{selectedRRF.MinExp }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max.Exp : {{selectedRRF.MaxExp
														}}
													</div>
												</td>
												<td>
													<span class="mt-action-dot "></span> {{selectedRRF.Priority.Value}}
												</td>
												<td>
													<span class="mt-action-dot "></span> {{selectedRRF.Status.Value}}
												</td>
											</tr>
										</tbody>
									</table>-->
		</div>
	</div>
	<hr>
	<div class="row">
		<!--BEGIN Cadidates list section -->
		<div class="col-md-7">
			<!-- BEGIN Tabs -->
			<div class="tabbable-line">
				<ul class="nav nav-tabs " id="mytabs">
					<li class="active">
						<a href="#tab_Candidate_Details" data-toggle="tab" aria-expanded="true"> Inprocess Candidates </a>
					</li>
					<li class="">
						<a href="#tab_Offered_Candidates" data-toggle="tab" aria-expanded="false" (click)="getOfferedCanidatesForRRF();"> Offered Candidates </a>
					</li>
					<li class="">
						<a href="#tab_Other_Candidates" data-toggle="tab" aria-expanded="false" (click)="getOtherCanidatesForRRF();"> Other Candidates </a>
					</li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_Candidate_Details">
					<!-- BEGIN Candidate Details List /TAB -->
					<div class="tab-content slimScrollDiv" style="overflow-y:auto;">
<div class="tab-pane active" id="tab_actions_pending">
	<!-- BEGIN: Tagged Candidate List -->
	<div class="mt-actions" *ngFor="let selectedcandidate of AllCandidatesForRRF">
		<div class="mt-action">
			<div class="mt-action-img">
				<img src="../assets/layouts/layout4/img/default-user.jpg" class="CandidateImg" *ngIf="selectedcandidate.BinaryImage === ''">
				<img src="data:image/jpeg;base64,{{selectedcandidate.BinaryImage?selectedcandidate.BinaryImage:''}}" class="CandidateImg"
					*ngIf="selectedcandidate.BinaryImage !== ''">
			</div>
			<div class="mt-action-body">
				<div class="mt-action-row">
					<div class="mt-action-info ">
						<div class="mt-action-details ">
							<span class="mt-action-author text-capitalize">
																				<a data-toggle="tooltip" data-placement="top" tooltip="Click to view complete profile" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="false" 
																				(click)='redirectToView(selectedcandidate.CandidateID)'>{{selectedcandidate.Candidate}}</a>
																				</span>
							<p class="mt-action-desc">Round:<strong> {{selectedcandidate.InterviewDetails.Round.Value}}</strong></p>
							<p class="mt-action-desc">Mode: {{selectedcandidate.InterviewDetails.InterviewMode.Value}}</p>
							<p class="mt-action-desc" *ngIf="selectedcandidate.InterviewDetails.InterviewMode.Id == modeConstant.SkypeInterview">
								Skype ID:{{selectedcandidate.InterviewDetails.SkypeID?selectedcandidate.InterviewDetails.SkypeID.Value:"N/A"}}
							</p>
							<p class="mt-action-desc" *ngIf="selectedcandidate.InterviewDetails.InterviewMode.Id == modeConstant.SkypeInterview">
								PassWord: {{selectedcandidate.InterviewDetails.SkypePassword?selectedcandidate.InterviewDetails.SkypePassword:"N/A"}}
							</p>
						</div>
					</div>
					<div class="mt-action-datetime " style="padding-right: 40px;">
<span class="mt-action-date" *ngIf="selectedcandidate.InterviewDetails.InterviewDate !== null">{{selectedcandidate.InterviewDetails.InterviewDate === null ?"NA" :getDate(selectedcandidate.InterviewDetails.InterviewDate)}}</span>
<br>
<span class="mt=action-time" *ngIf="selectedcandidate.InterviewDetails.InterviewFromTime !== null && selectedcandidate.InterviewDetails.InterviewToTime !== null">
																			{{selectedcandidate.InterviewDetails.InterviewFromTime === null ?"NA" : 
																			selectedcandidate.InterviewDetails.InterviewFromTime}}-{{selectedcandidate.InterviewDetails.InterviewToTime === null ?"NA" :
																			 selectedcandidate.InterviewDetails.InterviewToTime}}
																			 </span>
<span class="mt-action-dot bg-green"></span>
<span class="mt=action-time">
																			<a data-toggle="tooltip" data-placement="top" tooltip="Click to view interview rounds history" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="false"
																			 (click)='getCandidatesRoundHistory(selectedcandidate.CandidateID,selectedcandidate.Candidate,"Selected")'>{{selectedcandidate.InterviewDetails.Status}}</a>
																			 </span>
</div>

<div class="mt-action-buttons ">
	<div class="btn-group btn-group-circle">
		<div class="btn-group">
			<div *ngIf="selectedcandidate.InterviewDetails.Status.toLowerCase() == 'Transferred'.toLowerCase()">Not allowed</div>
			<div *ngIf="selectedcandidate.InterviewDetails.Status.toLowerCase() == 'Not suitable'.toLowerCase()">Not allowed</div>
			<div *ngIf="selectedcandidate.InterviewDetails.Status.toLowerCase() == 'Unfit'.toLowerCase()">Not allowed</div>
			<button class="btn blue btn-outline btn-circle btn-sm" *ngIf="selectedcandidate.InterviewDetails.Status.toLowerCase() != 'Transferred'.toLowerCase() && selectedcandidate.InterviewDetails.Status.toLowerCase() != 'Not suitable'.toLowerCase() && selectedcandidate.InterviewDetails.Status.toLowerCase() != 'Unfit'.toLowerCase()"
				type="button" data-toggle="dropdown" aria-expanded="false"> Actions<i class="fa fa-angle-down"></i>
																					</button>
			<ul class="dropdown-menu" style="position:relative !important; min-width:130px;" role="menu">
<li *ngIf="!selectedcandidate.isInterviewScheduled && !selectedcandidate.isAwaitingApproval">
	<button class="btn btn-default btnLink " [disabled]='canScheduleInterview(selectedcandidate.InterviewDetails.Status)' (click)='onScheduleInterviewClick(selectedcandidate)'>
																							<i class="fa fa-calendar-check-o"></i> Schedule</button>
</li>
<li class="divider" *ngIf="selectedcandidate.isInterviewScheduled"> </li>

<li>
	<button class="btn btn-default btnLink " *ngIf="selectedcandidate.isInterviewScheduled" (click)='onReScheduleInterviewClick(selectedcandidate)'>
																							<i class="fa fa-calendar-check-o"></i> Re-Schedule
																						</button>
</li>
<li class="divider"> </li>
<li>
	<button class="btn btn-default btnLink " [disabled]='canCancelInterview(selectedcandidate.InterviewDetails.Status)' (click)='onCancelInterviewClick(selectedcandidate)'>
																							<i class="fa fa-times"></i>Cancel Interview
																						</button>
</li>
<li class="divider" *ngIf='!isOfferGenerationVisible(selectedcandidate.InterviewDetails.Round.Value , selectedcandidate.InterviewDetails.Status)'>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div *ngIf="!AllCandidatesForRRF.length>0">
	<label class="form-control"> No candidate tagged yet..!</label>
</div>

<!-- END:  Tagged Candidate List -->
</div>
</div>
<!-- END Candidate Details List /TAB-->
</div>

<div class="tab-pane" id="tab_Offered_Candidates">
	<!-- BEGIN Offered Candidate list /TAB -->
	<div class="tab-content slimScrollDiv" style="overflow-y:auto;">
<div class="tab-pane active" id="tab_actions_pending">
	<!-- BEGIN: Actions -->
	<div class="mt-actions" *ngFor="let selectedcandidate of OfferedCandidateForRRF">
		<div class="mt-action">
			<div class="mt-action-img">
				<img src="../assets/layouts/layout4/img/default-user.jpg" class="CandidateImg" *ngIf="selectedcandidate.BinaryImage === ''">
				<img src="data:image/jpeg;base64,{{selectedcandidate.BinaryImage?selectedcandidate.BinaryImage:''}}" class="CandidateImg"
					*ngIf="selectedcandidate.BinaryImage !== ''">
			</div>
			<div class="mt-action-body">
				<div class="mt-action-row">
					<div class="mt-action-info ">
						<div class="mt-action-details ">
							<span class="mt-action-author">
																					<a data-toggle="tooltip" data-placement="top" tooltip="Click to view complete profile" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="false" (click)='redirectToView(selectedcandidate.CandidateID)'>{{selectedcandidate.Candidate}}</a>
																					</span>
							<p class="mt-action-desc">Round:<strong> {{selectedcandidate.InterviewDetails.Round.Value}}</strong></p>
							<p class="mt-action-desc">Mode: {{selectedcandidate.InterviewDetails.InterviewMode.Value}}</p>
							<p class="mt-action-desc" *ngIf="selectedcandidate.InterviewDetails.InterviewMode.Id == modeConstant.SkypeInterview">
								Skype ID:{{selectedcandidate.InterviewDetails.SkypeID?selectedcandidate.InterviewDetails.SkypeID.Value:"N/A"}}
							</p>
							<p class="mt-action-desc" *ngIf="selectedcandidate.InterviewDetails.InterviewMode.Id == modeConstant.SkypeInterview">
								PassWord: {{selectedcandidate.InterviewDetails.SkypePassword?selectedcandidate.InterviewDetails.SkypePassword:"N/A"}}
							</p>
						</div>
					</div>
					<div class="mt-action-datetime " style="padding-right: 40px;">
<span class="mt-action-date" *ngIf="selectedcandidate.InterviewDetails.InterviewDate !== null">
																				{{selectedcandidate.InterviewDetails.InterviewDate === null ?"NA" :getDate(selectedcandidate.InterviewDetails.InterviewDate)}}
																				</span>
<br>
<span class="mt=action-time" *ngIf="selectedcandidate.InterviewDetails.InterviewFromTime !== null && selectedcandidate.InterviewDetails.InterviewToTime !== null">
																				{{selectedcandidate.InterviewDetails.InterviewFromTime === null ?"NA" : selectedcandidate.InterviewDetails.InterviewFromTime}}-{{selectedcandidate.InterviewDetails.InterviewToTime === null ?"NA" : selectedcandidate.InterviewDetails.InterviewToTime}}
																				</span>
<span class="mt-action-dot bg-green"></span>
<span class="mt=action-time"><a data-toggle="tooltip" data-placement="top" tooltip="Click to view interview rounds history" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="false" 
																			(click)='getCandidatesRoundHistory(selectedcandidate.CandidateID,selectedcandidate.Candidate,selectedcandidate.Status.Value)'>
																			{{selectedcandidate.Status.Value ? selectedcandidate.Status.Value : "NA"}}</a>
																			</span>
</div>
<div class="mt-action-buttons ">
	<div class="btn-group btn-group-circle">
		<button type="button" class="btn btn-outline green btn-sm" (click)='getCandidatesRoundHistory(selectedcandidate.CandidateID,selectedcandidate.Candidate,selectedcandidate.Status.Value)'>Show</button>
	</div>
</div>
</div>
</div>
</div>
</div>

<div *ngIf="!OfferedCandidateForRRF.length>0">
	<label class="form-control"> No candidate got offer yet..!</label>
</div>

<!-- END: Actions -->
</div>
</div>
<!-- END Offered Candidate list /TAB-->
</div>

<div class="tab-pane" id="tab_Other_Candidates">
	<!-- BEGIN Offered Candidate list /TAB -->
	<div class="tab-content slimScrollDiv" style="overflow-y:auto;">
<div class="tab-pane active" id="tab_actions_pending">
	<!-- BEGIN: Actions -->
	<div class="mt-actions" *ngFor="let selectedcandidate of OtherCandidateForRRF">
		<div class="mt-action">
			<div class="mt-action-img">
				<img src="../assets/layouts/layout4/img/default-user.jpg" class="CandidateImg" *ngIf="selectedcandidate.BinaryImage === ''">
				<img src="data:image/jpeg;base64,{{selectedcandidate.BinaryImage?selectedcandidate.BinaryImage:''}}" class="CandidateImg"
					*ngIf="selectedcandidate.BinaryImage !== ''">
			</div>
			<div class="mt-action-body">
				<div class="mt-action-row">
					<div class="mt-action-info ">
						<div class="mt-action-details ">
							<span class="mt-action-author">
																					<a data-toggle="tooltip" data-placement="top" tooltip="Click to view complete profile" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="false" (click)='redirectToView(selectedcandidate.CandidateID)'>{{selectedcandidate.Candidate}}</a>
																					</span>
							<p class="mt-action-desc">Round:<strong> {{selectedcandidate.InterviewDetails.Round.Value}}</strong></p>
							<p class="mt-action-desc">Mode: {{selectedcandidate.InterviewDetails.InterviewMode.Value}}</p>
							<p class="mt-action-desc" *ngIf="selectedcandidate.InterviewDetails.InterviewMode.Id == modeConstant.SkypeInterview">
								Skype ID:{{selectedcandidate.InterviewDetails.SkypeID?selectedcandidate.InterviewDetails.SkypeID.Value:"N/A"}}
							</p>
							<p class="mt-action-desc" *ngIf="selectedcandidate.InterviewDetails.InterviewMode.Id == modeConstant.SkypeInterview">
								PassWord: {{selectedcandidate.InterviewDetails.SkypePassword?selectedcandidate.InterviewDetails.SkypePassword:"N/A"}}
							</p>
						</div>
					</div>
					<div class="mt-action-datetime " style="padding-right: 40px;">
<span class="mt-action-date" *ngIf="selectedcandidate.InterviewDetails.InterviewDate !== null">
																				{{selectedcandidate.InterviewDetails.InterviewDate === null ?"NA" :getDate(selectedcandidate.InterviewDetails.InterviewDate)}}
																				</span>
<br>
<span class="mt=action-time" *ngIf="selectedcandidate.InterviewDetails.InterviewFromTime !== null && selectedcandidate.InterviewDetails.InterviewToTime !== null">
																				{{selectedcandidate.InterviewDetails.InterviewFromTime === null ?"NA" : selectedcandidate.InterviewDetails.InterviewFromTime}}-{{selectedcandidate.InterviewDetails.InterviewToTime === null ?"NA" : selectedcandidate.InterviewDetails.InterviewToTime}}
																				</span>
<span class="mt-action-dot bg-green"></span>
<span class="mt=action-time"><a data-toggle="tooltip" data-placement="top" tooltip="Click to view interview rounds history" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="false" 
																			(click)='getCandidatesRoundHistory(selectedcandidate.CandidateID,selectedcandidate.Candidate,selectedcandidate.Status.Value)'>
																			{{selectedcandidate.Status.Value ? selectedcandidate.Status.Value : "NA"}}</a>
																			</span>
</div>
<div class="mt-action-buttons ">
	<div class="btn-group btn-group-circle">
		<button type="button" class="btn btn-outline green btn-sm" (click)='getCandidatesRoundHistory(selectedcandidate.CandidateID,selectedcandidate.Candidate,selectedcandidate.Status.Value)'>Show</button>
	</div>
</div>
</div>
</div>
</div>
</div>

<div *ngIf="IsOtherCandidate">
	<label class="form-control"> No candidates found</label>
</div>

<!-- END: Actions -->
</div>
</div>
<!-- END Offered Candidate list /TAB-->
</div>

</div>
<!-- END Tabs -->
</div>
<!--END Cadidates list section -->

<!--BEGIN CANDIDATE HISTORY SECTION -->
<div class="col-md-5" style="border-left:1px solid gray">
<span class="caption-subject bold" *ngIf="IsBarchartDataShow" style="font-size : 14px">{{selectedCandidate}} Interview Feedback History</span>
<div class="row">
	<base-chart class="chart" *ngIf="IsBarchartDataShow" [datasets]="barChartData " [labels]="barChartLabels " [options]="barChartOptions"
		[legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></base-chart>
</div>
<span class="caption-subject bold" style="font-size : 14px">{{selectedCandidate}} Interview Rounds History</span>
<div class="pull-right">
	<button class="btn btn-circle btn-icon-only grey-cascade" *ngIf="IsHRConducted" (click)='onGenerateOffer()' tooltip="Generate Offer"
		tooltipPlacement="top" tooltipTrigger="mouseenter" title="Generate Offer" tooltipEnable="true"><i class="fa fa-link"></i></button>
	<button class="btn btn-circle btn-icon-only blue-dark" *ngIf="IsOffered" (click)='onUpdateStatus()' tooltip="Update Status"
		tooltipPlacement="top" tooltipTrigger="mouseenter" title="Update Status" tooltipEnable="true"><i class="glyphicon glyphicon-pencil"></i></button>
</div>
<br/>
<hr>
<!-- BEGIN offer generation form-->
<div class="row" style="margin-top:20px;" *ngIf="IsOfferGenerate">
<form (submit)="saveOffer(ExpDateOfJoining);">
	<div class="form-group col-md-7">
		<label class="col-md-6 control-label align" style="margin-left:-12px;">Joining Date: </label>
<div class="col-md-2">
	<input type="date" [min]="mindate" name="bday" id="ExpDateOfJoining" required="" [(ngModel)]="ExpDateOfJoining" style="margin-left: -20px;" />
</div>
</div>

<div class="col-md-5">
	<div class="pull-right">
		<button type="submit " class="btn blue " id="btnChangeStatus">Save</button>
		<button type="button " class="btn default " id="btnCancelChangeStatus" (click)='onCancelOffer()'>Cancel</button> &nbsp;

	</div>
</div>
</form>
</div>
<hr *ngIf="IsOfferGenerate">
<!-- END offer generation form-->

<!-- BEGIN status update form-->
<div class="row" style="margin-top:20px;" *ngIf="IsUpdateStatus">
<form (submit)="saveUpdateStatus();">
	<div class="form-group col-md-7">
		<div class="dataTables_length" id="sample_1_length">
			<label>Status:</label>
			<select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline" [(ngModel)]="selectedStatus"
				required="" style="width: 159px!important;">
<option *ngFor="let status of CandidateUpdatedStatus" [ngValue]="status">{{status.Value}}</option>
</select>

</div>
</div>

<div class="col-md-5">
	<div class="pull-right">
		<button type="submit " class="btn blue " id="btnChangeStatus">Save</button>
		<button type="button " class="btn default " id="btnCancelChangeStatus" (click)='onCancelStatus()'>Cancel</button> &nbsp;
	</div>
</div>
</form>
</div>
<hr *ngIf="IsUpdateStatus">
<!-- END status update form-->

<!-- BEGIN Show interview round history -->
<table class="table table-hover">
	<thead>
		<tr>
			<!--<th> # </th>-->
			<th style="width:30% !important">Round/Mode</th>
<th style="width:20% !important">Interviewer</th>
<th style="width:30% !important">Date Time</th>
<!--<th style="width:20% !important">Interview mode</th>-->
<th style="width:20% !important">Status</th>
<!--<th style="width:20% !important">Actual Time</th>-->
</tr>
</thead>
<tbody>
	<tr *ngFor="let candidateHistory of CandidateRoundHistory; let index = index" (mouseover)='showPopOver(candidateHistory.Comments,index+1)'
		id="round{{index+1}}">
		<!--<td> {{index+1}} </td>-->
		<td> {{candidateHistory.Round.Value}}
			<br>{{candidateHistory.InterviewMode.Value}}
		</td>
		<td> <span *ngFor="let interviewer of candidateHistory.InterviewerAvailability">{{interviewer.Interviewer.Value}} ,</span></td>
		<td> {{getDate(candidateHistory.InterviewDate)}}
			<br>Time:{{getTime(candidateHistory.InterviewFromTime)}}
			<br>
			<span *ngIf="candidateHistory.InterviewActualTime != ''">Actual Time:{{getTime(candidateHistory.InterviewActualTime)}}</span>
			<br>
			<span *ngIf="candidateHistory.InterviewActualTime == '' && (candidateHistory.Status.toLowerCase() == 'Rejected'.toLowerCase() || candidateHistory.Status.toLowerCase() == 'Selected'.toLowerCase() || candidateHistory.Status.toLowerCase() == 'Fitment Issue'.toLowerCase() || candidateHistory.Status.toLowerCase() == 'On Hold'.toLowerCase())"><a (click)='setActualTime(candidateHistory)'> Actual Time</a></span>
		</td>
		<!--<td> {{candidateHistory.InterviewMode.Value}} </td>-->
		<td *ngIf="candidateHistory.Status.toLowerCase() != 'On Hold'.toLowerCase() && candidateHistory.Status.toLowerCase() != 'Fitment Issue'.toLowerCase()">
			<!--<div *ngIf="candidateHistory.Status.toLowerCase() != 'Fitment Issue'.toLowerCase()">-->
			{{candidateHistory.Status}}
			<!--</div>-->
		</td>
		<td *ngIf="candidateHistory.Status.toLowerCase() == 'On Hold'.toLowerCase() "> <a (click)='changeStatus(candidateHistory.InterviewID)'> {{candidateHistory.Status}}</a></td>
		<td *ngIf="candidateHistory.Status.toLowerCase() == 'Fitment Issue'.toLowerCase() "> <a (click)='transferFromUnfit(candidateHistory)'> {{candidateHistory.Status}}</a></td>

	</tr>
</tbody>
</table>
<span *ngIf='isRoundHistoryPresent'>No Candidates Round History Found</span>
<hr/>
<!-- END Show interview round history -->

<!-- BEGIN set actual time -->
<form (submit)='onSetActualTime()' *ngIf='setActualTimeForm'>
	<div class="row">
		<label style="margin-left:30px;"><b>{{CandidateHistoryForActualTime.Round.Value}} interview schedule at {{getDate(CandidateHistoryForActualTime.InterviewDate)}} {{getTime(CandidateHistoryForActualTime.InterviewFromTime)}}</b></label>
</div>
<div class="row" style="margin-top:10px;">
<div class="form-group col-md-7">
	<label class="col-md-6 control-label align">Actual Time </label>
	<div class="col-md-2">
		<input type="time" name="bday" id="" [(ngModel)]='actualTime' required="" />
	</div>
</div>

<div class="col-md-5">
	<div class="pull-right">
		<button type="submit " class="btn blue " id="btnChangeStatus">Save</button>
		<button type="button " class="btn default " id="btnCancelChangeStatus" (click)='onCancelActualTime()'>Cancel</button> &nbsp;
	</div>
</div>
</div>
</form>
<!-- END set actual time -->

<!-- BEGIN change Interview status-->
<form role="statusForm" (submit)='onChangeStatus()' *ngIf='showChangeStatus'>
	<div>
		<b>Change Interview Status</b>
		<br/>
		<br/>
		<div class="row">
			<div class="col-lg-4" align="right">
				Status
			</div>
			<div class="col-lg-8">
				<select id="cmbStaus" class="form-control" [(ngModel)]='changedStatus' required placeholder="Select status" tooltip="Select status"
					tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!changedStatus" style="font-size: inherit;" required>
<!--<option *ngFor="let OpenRrf of allOpenRrf" [value]="OpenRrf.RRFID.Id">{{OpenRrf.RRFID.Value}}</option>-->
<option value="Selected"> Selected</option>
<option value="Rejected"> Rejected</option>
</select>
</div>
</div>
<br>
<div class="row">
	<div class="col-lg-4" align="right">
		Comments
	</div>
	<div class="col-lg-8">
		<!---->
		<input type="text" [(ngModel)]='changesStatusComment' id="changesStatusComment" class="form-control" placeholder="change Status Comment"
			tooltip="comment" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!changesStatusComment" required=""
			autocomplete="off" style="font-size: inherit;" />
</div>
</div>
<br>
<div class="">
	<div class="pull-right">
		<button type="button " class="btn default " id="btnCancelChangeStatus" (click)='onCancelChangeStatus()'>Cancel</button>		&nbsp;
		<button type="submit " class="btn blue " id="btnChangeStatus">Change Status</button>
	</div>

</div>
</div>
<hr style="margin-top: 50px;" />
</form>
<br/>
<!-- END change Interview status-->

<!--BEGIN Unfit functionality-->
<form role="candidateTransferForm" (submit)='transferCandidate()' *ngIf='IsAllowTransfer'>
	<div>
		<b>Transfer candidate to other RRF</b>
		<br/>
		<br/>
		<div class="row">
			<div class="col-lg-4" align="right">
				Open RRF
			</div>
			<div class="col-lg-8">
				<select id="cmbStaus" class="form-control" required placeholder="Select suitable RRF" tooltip="Select suitable Open RRF"
					[(ngModel)]='rrfToTrnasfer' tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="true" style="font-size: inherit;" required>
<option *ngFor="let OpenRrf of allOpenRrf" [value]="OpenRrf.RRFID.Id">{{OpenRrf.RRFCODE}} - {{OpenRrf.Designation.Value}} - {{OpenRrf.RaisedBy.Value}}</option>
</select>
</div>
</div>
<br>
<div class="row">
	<div class="col-lg-4" align="right">
		Comments/Reason
	</div>
	<div class="col-lg-8">
		<input type="text" [(ngModel)]='transferReason' id="transferReasons" class="form-control" placeholder="Transfer reason" tooltip="comment"
			tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!changesStatusComment" required="" autocomplete="off"
			style="font-size: inherit;" />
</div>
</div>
<br>
<div class="">
	<div class="pull-left">
		<a [ifAuthorize]="['RRF.CREATERRFFORTRANSFER.MANAGE']" (click)="nevigateToInitiateRRF();"> Create New RRF</a>
	</div>
	<div class="pull-right">
		<button type="button " class="btn default " id="btnCancelChangeStatus" (click)='onCancelTransfer()'>Cancel</button> &nbsp;
		<button type="submit " class="btn blue " id="btnChangeStatus">Transfer</button>
	</div>
</div>
</div>
<hr style="margin-top: 50px;" />
</form>
<!--END Unfit functionality-->

<br/>
<!--<div>
                                        <base-chart class="chart" *ngIf="barChartData.lent>0" [datasets]="barChartData " [labels]="barChartLabels " [options]="barChartOptions
                                        " [legend]="barChartLegend " [chartType]="barChartType " (chartHover)="chartHovered($event) "
                                            (chartClick)="chartClicked($event) "></base-chart>
										</div>-->

</div>
<!--END CANDIDATE HISTORY SECTION -->

<!--BEGING CONFORMATION BOX FOR PROCEED OFFER GENERATION-->
<div id="prcedfrOffrgenration" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<b>Proceed For Offer Generation</b>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
			</div>
			<div id="modalBody" class="modal-body">
				Do you really want to proceed for Offer Generation ?
			</div>
			<div class="modal-footer">
				<button type="button" icon="fa-check" class="btn btn-info" (click)="proceedForOfferGeneration(InterviewID)" label="">Yes</button>
				<button type="button" icon="fa-check" class="btn btn-default" data-dismiss="modal" label=" ">No</button>
			</div>
		</div>
	</div>
</div>
<!--END CONFORMATION BOX FOR PROCEED OFFER GENERATION-->
</div>
</div>
</div>
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->