<style>
.holiday{
    background-color: #f5f6fa; 
    padding: 8px;
}
.slimScrollBar{
background: rgb(99, 114, 131);
 width: 7px;
  position: absolute;
   top: 0px;
    opacity: 0.4;
     display: none;
      border-radius: 7px; 
      z-index: 99; 
      right: 1px;
 height: 147.994px;
   /*height: 160.904px;*/
}
.slimScrollRail{
width: 7px; 
height: 100%; 
position: absolute; 
top: 0px; 
display: none; 
border-radius: 7px; 
background: rgb(234, 234, 234); 
opacity: 0.2; 
z-index: 90; 
right: 1px;
}
.scroller{
height: 275px;
 overflow: auto !important; 
 width: auto;
}
.padDate{
    padding-right: 9px !important;
}
.message {
    margin-left: 0px !important;
}
.subject{
    margin-left: -1px !important;
}
.slimScrollDiv{
position: relative; 
overflow: hidden;
 width: auto; 
 height: 275px;
}
.badge {
    display: inline-block !important;
    min-width: 10px !important;
    padding: 3px 7px !important;
    font-size: 12px !important;
    color: #fff !important;
    vertical-align: middle !important;
    background-color: #777 !important;
    border-radius: 10px !important;
}
.tooltip-wide {min-width:200px;}
</style>
<!-- BEGIN TOP NAVIGATION MENU -->
<div class="page-top">
  <!--  <form class="search-form open">
        <div class="input-group">
            <input type="text" class="form-control input-sm" [(ngModel)]="searchString" placeholder="Search...">
            <span class="input-group-btn">
                                <a class="btn" (click)="advancedSearch(searchString)">
                                    <i class="icon-magnifier"></i>
                                </a>
             </span>
        </div>
    </form>-->
    <!--<form class="search" style="margin: 22px 223px 0 0;display: inline-block;width: 31px;float: left;">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="searchString" placeholder="Search for..." style="width:initial;" />
            <span class="input-group-btn">
                  <button class="btn green-soft uppercase bold" type="button" (click)="advancedSearch(searchString)">Search</button>
            </span>
        </div>

    </form>-->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="separator hide"> </li>
            <!-- END NOTIFICATION DROPDOWN -->
            <li class="separator hide"> </li>
            
            <!-- END INBOX DROPDOWN -->
            <li class="separator hide"> </li>
       
             <!-- START Calendar DROPDOWN -->
                <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar" >
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-ng-click="dropdown" data-close-others="true" aria-expanded="false" >
                        <i (click)="getHolidayData()" class="icon-calendar" data-toggle="tooltip" data-placement="bottom" title="Holidays" tooltip="Holidays" tooltipPlacement="left" tooltipTrigger="mouseenter" tooltipEnable="true"></i>
                    </a>
                    <ul class="dropdown-menu extended tasks">
                        <li class="external">
                            <h3>We have
                                <span class="bold">{{festival?festival.length:"N/A"}} Upcoming</span> Holidays</h3>
                                <!--<a href="app_todo.html">view all</a>-->
                        </li>
                        <li class="dropdown-menu-list scroller" data-handle-color="#637283" data-initialized="1">
                            <div>
                                <div class="col-lg-12 holiday">
                                    <div class="col-md-7 col-sm-7"><b>Holiday Title</b></div>
                                    <div class="col-md-5 col-sm-5"><b>Date</b></div>
                                </div>
                                <div class="col-lg-12 holiday" *ngFor="let fest of festival">
                                    <div class="col-md-7 col-sm-7">{{fest.Description}}</div>
                                    <div class="col-md-5 col-sm-5 padDate">{{fest.Date}}</div>
                                </div>
                                <div class="slimScrollBar">
                                </div>
                                <div class="slimScrollRail">
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            <!-- END Calendar DROPDOWN -->

           <!--<li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar" [ifAuthorize]="['RC.INTERVIEWERACTIONS.MANAGE']">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                        <i (click)="onMyInterviews()" class="fa fa-bell-o" data-toggle="tooltip" data-placement="top" title="Holidays" tooltip="Holidays" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="false"></i>
                    </a>
                    <ul class="dropdown-menu extended tasks">
                        <li class="external">
                            <h3>My 
                                <span class="bold">Scheduled</span>Interviews</h3>
                              <a href="app_todo.html">view all</a>
                        </li>
                        <li class="dropdown-menu-list scroller" data-handle-color="#637283" data-initialized="1">
                            <div>
                                <div class="col-lg-12 holiday" *ngFor="let interview of MyInterviewDetailsList.AllInterviews">
                                   Interview of <b>{{interview.CandidateDetails.FullName?interview.CandidateDetails.FullName:''}}</b> is sheduled with <b *ngFor="let interviewers of interview.InterviewerAvailability">{{interviewers.Interviewer.Value?interviewers.Interviewer.Value:''}}</b> on <b>{{interview.InterviewDate?formatDate(interview.InterviewDate):''}}</b> at <b>{{interview.InterviewFromTime?interview.InterviewFromTime:''}} - {{interview.InterviewToTime?interview.InterviewToTime:''}}</b> by mode of <b>{{interview.InterviewMode.Value?interview.InterviewMode.Value:''}}</b>
                                </div>
                                <!--<div class="col-lg-12 holiday" *ngFor="let fest of festival">
                                    <div class="col-md-7 col-sm-7">{{fest.Description}}</div>
                                    <div class="col-md-5 col-sm-5 padDate">{{fest.Date}}</div>
                                </div>
                                <div class="slimScrollBar">
                                </div>
                                <div class="slimScrollRail">
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>-->

                <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar" [ifAuthorize]="['RRF.ALLSCHEDULEDINTERVIEWS.MANAGE']">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-ng-click="dropdown" data-close-others="true" aria-expanded="false" >
                        <i (click)="onRecruiterInterviews()" class="fa fa-group" data-toggle="tooltip" data-placement="bottom" title="Scheduled Interviews of all Interviewers" tooltip="Scheduled Interviews of all Interviewers" tooltipPlacement="left" tooltipTrigger="mouseenter" tooltipEnable="true" style="font-size: 18px;color: white;background-color: grey;height: 17px;width:22px;padding-top: 4px;" tooltip-wide></i>
                                    <!--<span class="badge badge-default"> 4 </span>-->
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3><span class="bold">LinedUp </span>Interviews</h3>
                        </li>
                        <li>
                            <div class="slimScrollDiv">
                                <ul class="dropdown-menu-list scroller" data-handle-color="#637283" data-initialized="1">
                                    <li>
                                        <div *ngFor="let interview of MyInterviewDetailsList.AllInterviews" class="holiday">
                                            <span class="subject">
                                                <span class="from">{{interview.CandidateDetails.FullName?interview.CandidateDetails.FullName:''}}</span>
                                                <span class="time">{{interview.InterviewDate?formatDate(interview.InterviewDate):''}}</span>
                                            </span>
                                            <span class="message">With <b *ngFor="let interviewers of interview.InterviewerAvailability">{{interviewers.Interviewer.Value?interviewers.Interviewer.Value:''}}, </b> at <b>{{interview.InterviewFromTime?interview.InterviewFromTime:''}}</b> by mode of <b>{{interview.InterviewMode.Value?interview.InterviewMode.Value:''}}</b>
                                            </span>
                                        </div>
                                        <div *ngIf="NOInterviewsFOUND" class="col-lg-12 holiday">                                           
                                            <b>No Interviews Scheduled</b>                                         
                                        </div>
                                    </li>
                                </ul>
                                <div class="slimScrollBar"></div>
                                <div class="slimScrollRail"></div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar" [ifAuthorize]="['RC.INTERVIEWERACTIONS.MANAGE']">
                    <!--<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-ng-click="dropdown" data-close-others="true" aria-expanded="false" >
                        <i (click)="getMyInterviews()" class="fa fa-bell-o" data-toggle="tooltip" data-placement="bottom" title="Scheduled Interviews" tooltip="Scheduled Interviews" tooltipPlacement="bottom" tooltipTrigger="mouseenter" tooltipEnable="true"></i>  
                    </a>-->
                      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-ng-click="dropdown" data-close-others="true" aria-expanded="false" >
                        <i (click)="getMyInterviews()" class="fa fa-bell-o" data-toggle="tooltip" data-placement="bottom" title="My Scheduled Interviews" tooltip="My Scheduled Interviews" tooltipPlacement="left" tooltipTrigger="mouseenter" tooltipEnable="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3>My <span class="bold">Scheduled </span>Interviews</h3>
                        </li>
                        <li>
                            <div class="slimScrollDiv">
                                <ul class="dropdown-menu-list scroller" data-handle-color="#637283" data-initialized="1">
                                    <li>
                                        <div *ngFor="let myInterview of InterviewInformation" class="holiday">
                                            <span class="subject">
                                                <span class="from">{{myInterview.CandidatePrimaryDetails.FullName?myInterview.CandidatePrimaryDetails.FullName:''}}</span>
                                                <span class="time">{{myInterview.InterviewDate?formatDate(myInterview.InterviewDate):''}}</span>
                                            </span>
                                            <span class="message">Interview at <b>{{myInterview.InterviewFromTime?getTime(myInterview.InterviewFromTime):''}}</b> by <b> {{myInterview.InterviewMode.Value?myInterview.InterviewMode.Value:''}} </b> mode.
                                            </span>
                                        </div>
                                         <div *ngIf="NOInterviewersInterviewFOUND"  class="col-lg-12 holiday">                                                                 
                                            <b>No Interviews Scheduled</b>                                         
                                        </div>
                                    </li>
                                </ul>
                                <div class="slimScrollBar"></div>
                                <div class="slimScrollRail"></div>
                            </div>
                        </li>
                    </ul>
                </li>

            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user dropdown-dark">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <span class="username username-hide-on-mobile"> {{currentUser.Value}} </span>
                    <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                    <!--<img alt="" class="img-circle" src="../assets/layouts/layout4/img/default-user.jpg" />-->
                    <img alt="" class="img-circle" src="../assets/layouts/layout4/img/default-user.jpg"/>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
              
                    <li style="display:none;">

                        <a (click)="pushNotificationSettings()">
                            <i class="fa fa-cogs"></i> Settings </a>
                        <hr style="margin: 2px;" />
                    </li>
                    <li>
                        <a (click)="logout()">
                            <i class="icon-key"></i> Log Out </a>
                    </li>

                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
           

            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
            <li class="dropdown dropdown-extended quick-sidebar-toggler">
                <span class="sr-only">Toggle Quick Sidebar</span>
                <i class="icon-logout"></i>
            </li>
            <!-- END QUICK SIDEBAR TOGGLER -->
        </ul>
    </div>
</div>
<!-- END TOP NAVIGATION MENU -->