<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <!--BEGIN breadcrumb -->
        <ul class="page-breadcrumb breadcrumb" style="display:none;">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Profile Bank</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <!--<breadcrumb></breadcrumb>-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption" style="font-size: large;">
                            <i class="icon-users"></i>
                            <span class="caption-subject font-dark-sunglo bold uppercase">Candidate List</span>

                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- My Profile Grid Starts-->
                        <table class="table  table-hover table-checkable order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                            <thead class="thead">
                                <tr>
                                    <th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Candidates</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.29);" class="" *ngFor="let profile of myProfilesList.Profiles">
                                    <td class=" light bordered" style="text-align: left !important;">
                                        <detail-profile [selectedProfile]="profile" [CandidateRecruitmentMailDetails]="" [rrfID]=""></detail-profile>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span style="margin-top:5px;margin-left:15px" *ngIf='NORECORDSFOUND'>No Candidates Found</span>
                    </div>
                    <!--  My Profile Grid  END-->
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->