<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="margin-left: 219px;margin-right: 0px;">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-dark-sunglo"></i>
                    <span class="caption-subject font-dark-sunglo bold uppercase">Advanced Search</span>

                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal" (submit)="onAdvancedSearch()">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Skills</label>
                            <div class="col-md-6">

                                <select id="cmbSkills" class="form-control "  
                                    multiple>
                                                            <option value="-1" disabled="true" [selected]="selected">--Skills,Designation,Componies--</option>
                                                            <option *ngFor="let skill of skills " [value]="skill.Value">{{skill.Value}}</option>
                                                        </select>
                                <span class="input-group-btn ">
                                           
                                                        </span>

                                <!--<input type="text" class="form-control" placeholder="Skills,Designation,Componies">-->
                                <!--<span class="help-block"> A block of help text. </span>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Location</label>
                            <div class="col-md-6">

                                <select id="cmbLocation" class="form-control "  multiple>
                                        <option value="-1" disabled="true" [selected]="selected">--Enter the cities you want to work in--</option>
                                                            <option *ngFor="let skill of skills " [value]="skill.Id ">{{skill.Value}}</option>
                                                        </select>
                                <span class="input-group-btn ">
                                           
                                                        </span>

                                <!--<input type="text" class="form-control" placeholder="Enter the cities you want to work in">-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Total Experience <small>(in Years)</small></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Min" [(ngModel)]="candidateAdvancedSearch.CandidateMasterDetails.MinTotalExperience">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Max" [(ngModel)]="candidateAdvancedSearch.CandidateMasterDetails.MaxTotalExperience">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Relavant Experience <small>(in Years)</small></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Min" [(ngModel)]="candidateAdvancedSearch.CandidateMasterDetails.MinRelevantExperience" >
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Max" [(ngModel)]="candidateAdvancedSearch.CandidateMasterDetails.MaxRelevantExperience">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Salary </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="From" [(ngModel)]="candidateAdvancedSearch.CandidateSalaryDetails.MinExpectedSalary">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="To" [(ngModel)]="candidateAdvancedSearch.CandidateSalaryDetails.MaxExpectedSalary">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label">Company/Employer</label>
                                <div class="col-md-6" style="margin-left:8px;">
                                    <input type="text" class="form-control" placeholder="Type Company Name" style="width:97%" [(ngModel)]="candidateAdvancedSearch.CandidateCareerDetails.Company">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="btn-group col-md-1" style="margin-left: 8px; margin-top: 3px">
                                    <select class="btn btn-xs dropdown-toggle" tabindex="25" [(ngModel)]="candidateAdvancedSearch.CandidateCareerDetails.IsCurrent">
                                          <option  [value]="Yes">Current Employer</option>
                                          <option  [value]="No">Previous Employer</option>
                                          <option  [value]="Both">Current / Previous Employer</option>
                                 </select>
                                    <!--<button class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Current Employer <i class="fa fa-angle-down"></i>
                                                        
                                                        </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a>
                                                <i class="icon-user"></i> Current Employer </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a>
                                                <i class="icon-user"></i> Previous Employer </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a>
                                                <i class="icon-user"></i> Current / Previous Employer </a>
                                        </li>
                                    </ul>-->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Education</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Enter your education" [(ngModel)]="candidateAdvancedSearch.CandidateQualification.Degree">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Notice Period <small>(in Days)</small></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="From" [(ngModel)]="candidateAdvancedSearch.CandidateOtherDetails.MinNoticePeriod">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="To" [(ngModel)]="candidateAdvancedSearch.CandidateOtherDetails.MaxTotalExperience">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Visa</label>
                            <div class="col-md-3">
                                <select class="btn btn-xs dropdown-toggle" [(ngModel)]="candidateAdvancedSearch.CandidateOtherDetails.Visa" tabindex="25">
                                          <option  [value]="L1">H1</option>
                                          <option  [value]="H1">L1</option>
                                 </select>

                            </div>

                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn green">Search</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->