<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="margin-left: 219px;margin-right: 0px;">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-dark-sunglo"></i>
                    <span class="caption-subject font-dark-sunglo bold uppercase">Advanced Search</span>

                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Skills</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Skills,Designation,Componies">
                                <!--<span class="help-block"> A block of help text. </span>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Location</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Enter the cities you want to work in">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Total Experience</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Min">
                            </div>
                            <label class="col-md-1 control-label" style="text-align: center;">To</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Max">
                            </div>
                            <label class="col-md-1 control-label">in Years</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Relavant Experience</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Min">
                            </div>
                            <label class="col-md-1 control-label" style="text-align: center;">To</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Max">
                            </div>
                            <label class="col-md-1 control-label">in Years</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Salary</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="From">
                            </div>
                            <label class="col-md-1 control-label" style="text-align: center;">in Lakhs</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="To">
                            </div>
                            <label class="col-md-1 control-label">in Lakhs</label>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label">Compony/Employer</label>
                                <div class="col-md-6" style="margin-left:8px;">
                                    <input type="text" class="form-control" placeholder="Type Compony Name" style="width:97%">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="btn-group col-md-1" style="margin-left: 8px; margin-top: 3px">
                                    <button class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Current Employer <i class="fa fa-angle-down"></i>
                                                        
                                                        </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a>
                                                <i class="icon-user"></i> Current Employer </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a>
                                                <i class="icon-user"></i> Previous Employer </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a>
                                                <i class="icon-user"></i> Current / Previous Employer </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Education</label>
                            <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Enter your education"> 
                            </div>
                            <div class="col-md-2">
                                <select  class="form-control" required [(ngModel)]="qualification.Grade.Id"
                                    tabindex="25">
                                          <option  [value]="A">A</option>
                                          <option  [value]="B">B</option>
                                          <option  [value]="C">C</option>
                                          <option  [value]="D">D</option>
                                 </select>
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Notice Period</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="From">
                            </div>
                            <label class="col-md-1 control-label" style="text-align: center;">in Days</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="To">
                            </div>
                            <label class="col-md-1 control-label">in Days</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">CTC</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Enter your CTC in thousand">
                            </div>
                            <label class="col-md-1 control-label" style="text-align: center;">Visa</label>
                            <div class="col-md-3">
                                <select  class="form-control" required [(ngModel)]="qualification.Grade.Id"
                                    tabindex="25">
                                          <option  [value]="L1">H1</option>
                                          <option  [value]="H1">L1</option>
                                 </select>
                               
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn green">Search</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->