<section class="rms-content">

	
	<div class="col-md-4 rms-content-box rms-content-box1">
		<div class="panel panel-default rms-content-panel">
			<div class="rms-box-heading availability-slots-heading">
				Select Your Availability Slots
				
				<button class="add-new-slot-btn">Add New Slot</button>
				
				<div class="row date-time-picker-row">
					<div class="col-md-6 col-sm-6">
						
						<div id="reportrange">
							<span></span>
							<i class="material-icons calendar-icon">date_range</i>
						</div>
						
					</div>
					
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control available-time-picker" placeholder="16:00 - 17:00"/>
						<i class="material-icons clock-icon">query_builder</i>
					</div>
				</div>
				<div class="row slot-caption-row">
					<div class="col-md-12 col-sm-6">
						<input type="text" class="form-control slot-caption-textbox" placeholder="Enter Caption for slot"/>
					</div>
				</div>
				
			</div>
			
			<div class="Scrollbox">
				<div class="availability-history-box">
					
					<div class="availability-history-box-heading">
						<h5>Availability History</h5>
					</div>
					<div class="availability-history-box-content">
						
						<div class="availability-his-hour-box">
							<div class="availability-his-hour-label">
								<h6 class="hour-num">2</h6> 
								<h6 class="hour-label">hrs</h6>
							</div>
						</div>
						<div class="availability-his-content-box">
							<div class="row">
								
								<div class="col-md-6 col-sm-6">
									<div class="availability-his-time-box">
										04:00 PM - 06:00 PM
									</div>
								</div>
								
								<div class="col-md-6 col-sm-6">
									<div class="availability-his-date-box">
										26/08/2016 - 01/09/2016
									</div>
								</div>
								
								<div class="col-md-12 col-sm-12">
									<p class="availability-his-info-box">
										Slot booked for User Experience Designer, Client meeting in the morning between 10 to 11.
									</p>
								</div>
							</div>
						</div>
						
					</div>
					<div class="availability-history-box-content">
						
						<div class="availability-his-hour-box">
							<div class="availability-his-hour-label">
								<h6 class="hour-num">1</h6> 
								<h6 class="hour-label">hrs</h6>
							</div>
						</div>
						<div class="availability-his-content-box">
							<div class="row">
								
								<div class="col-md-6 col-sm-6">
									<div class="availability-his-time-box">
										01:00 PM - 02:00 PM
									</div>
								</div>
								
								<div class="col-md-6 col-sm-6">
									<div class="availability-his-date-box">
										16/08/2016 - 17/09/2016
									</div>
								</div>
								
								<div class="col-md-12 col-sm-12">
									<p class="availability-his-info-box">
										Slot booked in the morning
									</p>
								</div>
							</div>
						</div>
						
					</div>
					<div class="availability-history-box-content">
						
						<div class="availability-his-hour-box">
							<div class="availability-his-hour-label">
								<h6 class="hour-num">4</h6> 
								<h6 class="hour-label">hrs</h6>
							</div>
						</div>
						<div class="availability-his-content-box">
							<div class="row">
								
								<div class="col-md-6 col-sm-6">
									<div class="availability-his-time-box">
										06:00 PM - 09:00 PM
									</div>
								</div>
								
								<div class="col-md-6 col-sm-6">
									<div class="availability-his-date-box">
										10/08/2016 - 22/09/2016
									</div>
								</div>
								
								<div class="col-md-12 col-sm-12">
									<p class="availability-his-info-box">
										Client meeting scheduled, booking availability in the evening
									</p>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			
			</div>
			
		</div>
	</div>

	<div class="col-md-7 rms-schedule-content-box">	
		<div class="row">
			<div class="col-md-3">
				<div class="schedule-total-box">
					<h6>Box 1</h6>
				</div>
			</div>
			<div class="col-md-3">
				<div class="schedule-total-box">
					<h6>Box 2</h6>
				</div>
			</div>
			<div class="col-md-3">
				<div class="schedule-total-box">
					<h6>Box 3</h6>
				</div>
			</div>
			<div class="col-md-3">
				<div class="schedule-total-box">
					<h6>Box 4</h6>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-md-12">
				<div class="my-schedule-heading-box">
					<h5>My Schedule</h5>
				</div>
				<div class="schedule-scrollbox">
					<div class="schedule-month-container">
						<div class="schedule-month-box">
							<h4>18/08/2016</h4>
							<div class="dropdown rrf-month-sort-dropdown">
								  <button class="btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown">Sort By
								  <span class="caret"></span></button>
								  <ul class="dropdown-menu">
									<li><a href="#">Filter 1</a></li>
									<li><a href="#">Filter 2</a></li>
									<li><a href="#">Filter 3</a></li>
								  </ul>
							</div>
						</div>
						
						<div class="schedule-table-box">
							<div class="table-responsive">
								<table class="table schedule-table">
									<tbody>
										<tr *ngFor="let _myInterview of InterviewInformation">
											<td>
												<i class="fa fa-bookmark red-badge" aria-hidden="true"></i>
											</td>
											<td>
												<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
											</td>
											<td>
												<a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></a>
											</td>
											<td>
												<i class="fa fa-clock-o" aria-hidden="true"></i> {{_myInterview.InterviewFromTime}}
											</td>
											<td>
												<div class="schedule-profile-box">
													<img src="img/user.jpg" class="rrf-selected-candidate-img">
													<h4>{{_myInterview.CandidatePrimaryDetails.FullName}}</h4>
													<h6>Sr. Angular JS Developer</h6>
												</div>
											</td>
											<td class="cell-interview-type">
												{{_myInterview.InterviewMode.Value}}
											</td>
											<td class="cell-skype">
												<i class="fa fa-skype" aria-hidden="true"></i> {{_myInterview.SkypeID.Value ? _myInterview.SkypeID.Value : "N/A"}}
											</td>
											<td>
												<div class="cell-phone-num">
													<span class="cell-phone-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="cell-phone-no"> {{_myInterview.CandidatePrimaryDetails.Contact}}</span>
												</div>
											</td>
										</tr>
										
									</tbody>
								  </table>
							  </div>
						</div>
					</div>
					<div class="schedule-month-container">
						<div class="schedule-month-box">
							<h4>18/08/2016</h4>
							<div class="dropdown rrf-month-sort-dropdown">
								  <button class="btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown">Sort By
								  <span class="caret"></span></button>
								  <ul class="dropdown-menu">
									<li><a href="#">Filter 1</a></li>
									<li><a href="#">Filter 2</a></li>
									<li><a href="#">Filter 3</a></li>
								  </ul>
							</div>
						</div>
						
						<div class="schedule-table-box">
							<div class="table-responsive">
								<table class="table schedule-table">
									<tbody>
										<tr>
											<td>
												<i class="fa fa-bookmark green-badge" aria-hidden="true"></i>
											</td>
											<td>
												<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
											</td>
											<td>
												<a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></a>
											</td>
											<td>
												<i class="fa fa-clock-o" aria-hidden="true"></i> 10:00
											</td>
											<td>
												<div class="schedule-profile-box">
													<img src="img/user.jpg" class="rrf-selected-candidate-img">
													<h4>Rob Burdon</h4>
													<h6>Sr. Angular JS Developer</h6>
												</div>
											</td>
											<td class="cell-interview-type">
												face to face
											</td>
											<td class="cell-skype">
												<i class="fa fa-skype" aria-hidden="true"></i> chaitanya.belsare.eternus
											</td>
											<td>
												<div class="cell-phone-num">
													<span class="cell-phone-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="cell-phone-no"> +91 1234 5698</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<i class="fa fa-bookmark red-badge" aria-hidden="true"></i>
											</td>
											<td>
												<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
											</td>
											<td>
												<a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></a>
											</td>
											<td>
												<i class="fa fa-clock-o" aria-hidden="true"></i> 08:00
											</td>
											<td>
												<div class="schedule-profile-box">
													<img src="img/user.jpg" class="rrf-selected-candidate-img">
													<h4>Mike Johnson</h4>
													<h6>Salesforce Solution Architect</h6>
												</div>
											</td>
											<td class="cell-interview-type">
												telephonic
											</td>
											<td class="cell-skype">
												<i class="fa fa-skype" aria-hidden="true"></i> mike.johnson.eternus
											</td>
											<td>
												<div class="cell-phone-num">
													<span class="cell-phone-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="cell-phone-no"> +91 1234 5698</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<i class="fa fa-bookmark grey-badge" aria-hidden="true"></i>
											</td>
											<td>
												<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
											</td>
											<td>
												<a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></a>
											</td>
											<td>
												<i class="fa fa-clock-o" aria-hidden="true"></i> 08:00
											</td>
											<td>
												<div class="schedule-profile-box">
													<img src="img/user.jpg" class="rrf-selected-candidate-img">
													<h4>Jack Adams</h4>
													<h6>Senior Java Developer</h6>
												</div>
											</td>
											<td class="cell-interview-type">
												face to face
											</td>
											<td class="cell-skype">
												<i class="fa fa-skype" aria-hidden="true"></i> jack.adams.eternus
											</td>
											<td>
												<div class="cell-phone-num">
													<span class="cell-phone-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="cell-phone-no"> +91 1234 5698</span>
												</div>
											</td>
										</tr>
									  
									</tbody>
								  </table>
							  </div>
						</div>
					</div>
					<div class="schedule-month-container">
						<div class="schedule-month-box">
							<h4>11/08/2016</h4>
							<div class="dropdown rrf-month-sort-dropdown">
								  <button class="btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown">Sort By
								  <span class="caret"></span></button>
								  <ul class="dropdown-menu">
									<li><a href="#">Filter 1</a></li>
									<li><a href="#">Filter 2</a></li>
									<li><a href="#">Filter 3</a></li>
								  </ul>
							</div>
						</div>
						
						<div class="schedule-table-box">
							<div class="table-responsive">
								<table class="table schedule-table">
									<tbody>
										<tr>
											<td>
												<i class="fa fa-bookmark green-badge" aria-hidden="true"></i>
											</td>
											<td>
												<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
											</td>
											<td>
												<a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></a>
											</td>
											<td>
												<i class="fa fa-clock-o" aria-hidden="true"></i> 06:00
											</td>
											<td>
												<div class="schedule-profile-box">
													<img src="img/user.jpg" class="rrf-selected-candidate-img">
													<h4>Chaitanya Belsare</h4>
													<h6>Sr. UI/UX Developer</h6>
												</div>
											</td>
											<td class="cell-interview-type">
												Telephonic
											</td>
											<td class="cell-skype">
												<i class="fa fa-skype" aria-hidden="true"></i> chaitanya.belsare.eternus
											</td>
											<td>
												<div class="cell-phone-num">
													<span class="cell-phone-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="cell-phone-no"> +91 1234 5698</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<i class="fa fa-bookmark red-badge" aria-hidden="true"></i>
											</td>
											<td>
												<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
											</td>
											<td>
												<a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></a>
											</td>
											<td>
												<i class="fa fa-clock-o" aria-hidden="true"></i> 08:00
											</td>
											<td>
												<div class="schedule-profile-box">
													<img src="img/user.jpg" class="rrf-selected-candidate-img">
													<h4>Mike Johnson</h4>
													<h6>Salesforce Solution Architect</h6>
												</div>
											</td>
											<td class="cell-interview-type">
												telephonic
											</td>
											<td class="cell-skype">
												<i class="fa fa-skype" aria-hidden="true"></i> mike.johnson.eternus
											</td>
											<td>
												<div class="cell-phone-num">
													<span class="cell-phone-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="cell-phone-no"> +91 1234 5698</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<i class="fa fa-bookmark grey-badge" aria-hidden="true"></i>
											</td>
											<td>
												<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
											</td>
											<td>
												<a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></a>
											</td>
											<td>
												<i class="fa fa-clock-o" aria-hidden="true"></i> 08:00
											</td>
											<td>
												<div class="schedule-profile-box">
													<img src="img/user.jpg" class="rrf-selected-candidate-img">
													<h4>Jack Adams</h4>
													<h6>Senior Java Developer</h6>
												</div>
											</td>
											<td class="cell-interview-type">
												face to face
											</td>
											<td class="cell-skype">
												<i class="fa fa-skype" aria-hidden="true"></i> jack.adams.eternus
											</td>
											<td>
												<div class="cell-phone-num">
													<span class="cell-phone-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="cell-phone-no"> +91 1234 5698</span>
												</div>
											</td>
										</tr>
									  
									</tbody>
								  </table>
							  </div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>