<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" style="margin-top: -26px !important;">
	<!-- BEGIN CONTENT BODY -->
	<div class="page-content" style="margin-left: 203px;margin-right: -15px;">

		<!--BEGIN breadcrumb -->
		<ul style="display:none" class="page-breadcrumb breadcrumb">
			<li>
				<a [routerLink]="['/App']"> Home </a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<span class="active">My Profile</span>
			</li>
		</ul>
		<!--End Breadcrumb>-->
		<!--<breadcrumb></breadcrumb>-->
		<div class="row">
			<div class="col-md-12">
				<div class="portlet light bordered" *ngIf="isViewRRFGrid">
					<div class="portlet-title">
						<div class="row">
							<div class="col-md-4">
								<h4><i class="fa fa-th-list"></i> My Profiles<small style="font-size: small;"> {{myProfilesList.Profiles.length > 0 ?'(' + myProfilesList.Profiles.length + ' ' + 'Found' + ')':""}}</small></h4>
							</div>

							<div class="col-md-8">
								<div class="dt-buttons pull-right toolbar-actions toolbar-spacing">
									<div class="col-md-6" [hidden]="RRFList.length == 0">
										<div id="sample_1_length_1">
											<select class="btn dropdown-toggle form-control pull-right" required (change)='onSelectRRF($event.target.value)'>
													<option [value]="-1" >All My Profiles</option>
													<option *ngFor="let rrf of RRFList" [value]="rrf.RRFID.Value">{{rrf.RRFCODE}} - {{rrf.PositionTitle}}</option> 
											</select>
										</div>
									</div>

									<button [attr.class]="selectedRowCount > 0 ? 'btn btn-default btn-circle btnLink toolbar-spacing red' : 'btn btn-default btn-circle btnLink toolbar-spacing' " (click)='openMailWindow()' [disabled]='!selectedRowCount' data-toggle="tooltip" data-placement="bottom" title="Send Mails " tooltip="Send Mails " tooltipPlacement="bottom" tooltipTrigger="mouseenter" tooltipEnable="false">
                                                <i class="fa fa-envelope-o"></i>   
									</button>
									<button [attr.class]="selectedRowCount > 0 ? 'btn btn-default btn-circle btnLink toolbar-spacing yellow' : 'btn btn-default btn-circle btnLink toolbar-spacing' " [ifAuthorize]="[ 'RC.CANDIDATEASSIGNRRF.MANAGE'] " [disabled]='!selectedRowCount' (click)='AssignRRFClick()'  data-toggle="tooltip" data-placement="bottom" title="Assign RRF" tooltip="Assign RRF" tooltipPlacement="bottom" tooltipTrigger="mouseenter" tooltipEnable="false">
                                                <i class="fa fa-check-square-o"></i> 
                                    </button>
									<button data-toggle="collapse" class="btn red btn-default btn-circle btnLink toolbar-spacing" (click)='showNewProfileModal()' data-target="#demo" data-toggle="tooltip" data-placement="bottom" title="New Profile" tooltip="New Profile" tooltipPlacement="bottom" tooltipTrigger="mouseenter" tooltipEnable="false">
										<i class="fa fa-plus-circle"></i>
									</button>
									<!--<button class="btn btn-md green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Mass Actions
                                              <i class="fa fa-angle-down"></i>
                                   </button>
									<ul class="dropdown-menu" role="menu">
										<li>
											<button class="btn btn-default btnLink" (click)='openMailWindow()' [disabled]='!selectedRowCount'>
                                                <i class="fa fa-envelope-o"></i>   Send Mails </button>
										</li>
										<li class="divider"> </li>
										<li>
											<button class="btn btn-default btnLink" [ifAuthorize]="[ 'RC.CANDIDATEASSIGNRRF.MANAGE'] " [disabled]='!selectedRowCount'
												(click)='AssignRRFClick()'>
                                                <i class="fa fa-check-square-o"></i> Assign RRF
                                            </button>
										</li>
									</ul>-->

								</div>
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-toolbar">
							
							<div class="row" *ngIf="!NORECORDSFOUND">
								<div class="col-md-2 col-sm-2">
									<div class="dataTables_length" id="sample_1_length">
										<label>Show :
                                            <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline" 
                                            [(ngModel)]="myProfilesList.GrdOperations.PerPageCount"  (ngModelChange)="onChange()" >
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="150">150</option>
                                                <option value="200">200</option>
                                            </select>
                                        </label>
									</div>
								</div>

								<div class="col-md-3 col-sm-3">
									<label>Filter By :
                                        <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-small input-inline"
                                               [(ngModel)]="modelFilterBy"
                                            (ngModelChange)='filterBy()'>
											<!--[(ngModel)]="myProfilesList.GrdOperations.Order"-->
                                                <option *ngFor="let filter of FilterByList" [value]="filter.Value">{{filter.Id}}</option>
										</select> 
                                    </label>
								</div>

								<div class="col-md-3 col-sm-3">
									<label>Sort By :
                                            <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-small input-inline"
                                            [(ngModel)]="myProfilesList.GrdOperations.OrderBy"
                                            (ngModelChange)="onChange()" >
                                                <option *ngFor="let column of ColumnList" [value]="column.Value">{{column.Id}}</option>

                                            </select>
                                        </label>
									<button type="" class="btn btn-default btn-outline green btn-sm" (click)="onChange()">
										<i *ngIf="myProfilesList.GrdOperations.Order === 'asc'" class="fa fa-long-arrow-down"></i>
										<i *ngIf="myProfilesList.GrdOperations.Order === 'desc'" class="fa fa-long-arrow-up"></i>
									</button>
								</div>								

								<div class="col-md-3 col-sm-3">
									<div id="sample_1_filter" class="dataTables_filter">
										<label>Search :
                                            <input type="search" class="form-control input-sm input-small input-inline " [(ngModel)] = "searchString"
                                            placeholder="" aria-controls="sample_1">
                                            </label>
									</div>
								</div>


							</div>
						</div>

<!-- Test data -->
<div style="box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.29);" class="col-md-4" *ngFor="let myprofile of myProfilesList.Profiles |ProfileBankPipe:searchString">
	<div class="row portlet-title" style="padding-top: 5px;padding-bottom: 10px;">
												<div class="actions pull-right">
													<!--btn btn-circle btn-icon-only btn-default btn-xs-->
													<button class="btn btn-xs blue" *ngIf="viewDetailsRRFId !=''" (click)='showRRFDetails(viewDetailsRRFId)'
														tooltip="View RRF" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="true" title="View RRF">
                                                            <i class="fa fa-search-plus "></i> 
                                                        </button>
													<a class="btn btn-xs yellow" [routerLink]="['/App/ProfileBank/MyProfiles/Edit/'+ myprofile.CandidateID.Value +'ID'+ myprofile.CandidateID.Id]"
														tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="true" tooltip="Edit Profile">
														<i class="fa fa-edit " style="margin-top: 25%;"></i>
														<!-- Edit Profile-->
													</a>
													<button class="btn btn-xs purple" (click)='onClickScheduleInterview(myprofile.CandidateID)' *ngIf="myprofile.Status.Value.toLowerCase() === 'open'"
														tooltip="Schedule Interview" tooltipPlacement="top" tooltipTrigger="mouseenter" title="Schedule Interview" tooltipEnable="true">
                                                            <i class="fa fa-calendar-check-o"></i> <!--Schedule Interview-->
                                                        </button>
													<button class="btn btn-xs green-jungle" (click)='onClickFollowUpComments(myprofile.CandidateID)'
														tooltip="Follow Up Comments" tooltipPlacement="top" tooltipTrigger="mouseenter" title="Follow Up Comments" tooltipEnable="true">
                                                            <i class="fa fa-comments "></i> <!--Follow Up Comments-->
                                                        </button>
													<button class="btn btn-xs blue" (click)='onClickUploadResume(myprofile.CandidateID)'
														tooltip="Upload Resume" tooltipPlacement="top" tooltipTrigger="mouseenter" title="Upload Resume" tooltipEnable="true">
                                                            <i class="fa fa-upload"></i> <!--Upload Resume-->
                                                        </button>
													<button class="btn btn-xs green" (click)='redirectToView(myprofile.CandidateID)' tooltip="View Profile"
														tooltipPlacement="top" tooltipTrigger="mouseenter" title="View Profile" tooltipEnable="true">
                                                            <i class="fa fa-search"></i> <!--View Profile-->
                                                        </button>
													<button class="btn btn-xs yellow-soft" (click)='getCandidateHistory(myprofile.CandidateID)'
														tooltip="View Interview History" tooltipPlacement="top" tooltipTrigger="mouseenter" title="View Interview History"
														tooltipEnable="true">
                                                            <i class="fa fa-history"></i> <!--View Interview History-->
                                                        </button>
													<button class="btn btn-xs blue-dark" (click)='onUpdateStatusClick(myprofile.CandidateID)'
														tooltip="Update Status" tooltipPlacement="top" tooltipTrigger="mouseenter" title="Update Status" tooltipEnable="true"
														*ngIf='!getUpdateStatusAccess(myprofile.Status)'>
                                                            <i class="glyphicon glyphicon-pencil"></i> <!--Update Status-->
                                                        </button>
													<button class="btn btn-xs dark" (click)='SaveCandidateID(myprofile.CandidateID)' tooltip="Blacklist Profile"
														tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="true" title="Blacklist Profile">
                                                            <i class="icon-flag"></i> <!--Blacklist Profile-->
                                                        </button>
													<button class="btn btn-xs red" (click)='confirmDelete(myprofile.CandidateID)' tooltip="Delete Profile"
														tooltipPlacement="top" tooltipTrigger="mouseenter" title="Delete Profile" tooltipEnable="true" [disabled]="disableDelete(myprofile.Status)"
														[ifAuthorize]="[ 'PROFILEBANK.TRANSFEROWNERSHIP.MANAGE']">
                                                            <i class="fa fa-remove "></i> <!--Delete Profile-->
                                                        </button>
												</div>
											</div>
<detail-profile [selectedProfile]="myprofile" [CandidateRecruitmentMailDetails]="candidateMailDetails" [rrfID]="viewDetailsRRFId"></detail-profile>
<!-- START Delete Confirmation Model dailog -->
											<div id="deleteProfile{{myprofile.CandidateID.Value}}" class="modal fade">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<b>Delete Profile </b>
															<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
														</div>
														<div id="modalBody" class="modal-body">
															Are you sure you want to delete {{myprofile.Candidate}} profile ?
														</div>
														<div class="modal-footer">
															<button type="button" icon="fa-check" class="btn btn-info" (click)="deleteCandidate(myprofile.CandidateID)" label="">Yes</button>
															<button type="button" icon="fa-check" class="btn btn-default" (click)="onClearSelection(myprofile.CandidateID)" label="">No</button>

														</div>
													</div>
												</div>
											</div>
											<!-- START Delete Confirmation Model dailog -->
</div>
<!-- /Test data -->

						<!-- My Profile Grid Starts-->
						<!--<div class="table">-->
							<!--table-bordered-->
							<!--<table class="table  table-hover table-checkable order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info"
								*ngIf="!NORECORDSFOUND">
								<thead class="thead">
									<tr>
										<td>
											<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" (change)="onAllSelect($event)"
                                                     [(ngModel)]='allChecked'/><span></span>
                                                </label>
										</td>
										<th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Candidates</th>-->
										<!--<th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Tag </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Professional Details </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Status </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Resume </th>-->
										<!--<th class="" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Actions </th>-->

									<!--</tr>
								</thead>
								<tbody>
									<tr style="box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.29);" class="" *ngFor="let myprofile of myProfilesList.Profiles |ProfileBankPipe:searchString">
										<td>
											<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input type="checkbox" class="checkboxes" value="1" [id]='myprofile.CandidateID' [(ngModel)]='myprofile.IsChecked' (change)="onStateChange($event)"/>
                                                    <span></span>
                                                </label>
										</td>
										<td class=" light bordered">
											<div class="row portlet-title" style="width:100%">
												<div class="actions pull-right">
													<button class="btn btn-circle btn-icon-only btn-default btn-xs blue" *ngIf="viewDetailsRRFId !=''" (click)='showRRFDetails(viewDetailsRRFId)'
														tooltip="View RRF" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="true" title="View RRF">
                                                            <i class="fa fa-search-plus "></i> 
                                                        </button>
													<a class="btn btn-circle btn-icon-only btn-default btn-xs yellow" [routerLink]="['/App/ProfileBank/MyProfiles/Edit/'+ myprofile.CandidateID.Value +'ID'+ myprofile.CandidateID.Id]"
														tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="true" tooltip="Edit Profile">
														<i class="fa fa-edit " style="margin-top: 25%;"></i>-->
														<!-- Edit Profile-->
													<!--</a>-->
													<!--<button class="btn btn-circle btn-icon-only btn-default btn-xs purple" (click)='onClickScheduleInterview(myprofile.CandidateID)' *ngIf="myprofile.Status.Value.toLowerCase() === 'open'"
														tooltip="Schedule Interview" tooltipPlacement="top" tooltipTrigger="mouseenter" title="Schedule Interview" tooltipEnable="true">-->
                                                            <!--<i class="fa fa-calendar-check-o"></i> <!-Schedule Interview-->
                                                        <!--</button>-->
													<!--<button class="btn btn-circle btn-icon-only btn-default btn-xs green-jungle" (click)='onClickFollowUpComments(myprofile.CandidateID)'
														tooltip="Follow Up Comments" tooltipPlacement="top" tooltipTrigger="mouseenter" title="Follow Up Comments" tooltipEnable="true">-->
                                                            <!--<i class="fa fa-comments "></i> <!-Follow Up Comments-->
                                                        <!--</button>-->
													<!--<button class="btn btn-circle btn-icon-only btn-default btn-xs blue" (click)='onClickUploadResume(myprofile.CandidateID)'
														tooltip="Upload Resume" tooltipPlacement="top" tooltipTrigger="mouseenter" title="Upload Resume" tooltipEnable="true">-->
                                                            <!--<i class="fa fa-upload"></i> <!-Upload Resume-->
                                                        <!--</button>-->
													<!--<button class="btn btn-circle btn-icon-only btn-default btn-xs green" (click)='redirectToView(myprofile.CandidateID)' tooltip="View Profile"
														tooltipPlacement="top" tooltipTrigger="mouseenter" title="View Profile" tooltipEnable="true">-->
                                                            <!--<i class="fa fa-search"></i> <!-View Profile-->
                                                        <!--</button>-->
													<!--<button class="btn btn-circle btn-icon-only btn-default btn-xs yellow-soft" (click)='getCandidateHistory(myprofile.CandidateID)'
														tooltip="View Interview History" tooltipPlacement="top" tooltipTrigger="mouseenter" title="View Interview History"
														tooltipEnable="true">-->
                                                            <!--<i class="fa fa-history"></i> <!-View Interview History-->
                                                        <!--</button>-->
													<!--<button class="btn btn-circle btn-icon-only btn-default btn-xs blue-dark" (click)='onUpdateStatusClick(myprofile.CandidateID)'
														tooltip="Update Status" tooltipPlacement="top" tooltipTrigger="mouseenter" title="Update Status" tooltipEnable="true"
														*ngIf='!getUpdateStatusAccess(myprofile.Status)'>-->
                                                            <!--<i class="glyphicon glyphicon-pencil"></i> <!-Update Status-->
                                                        <!--</button>-->
													<!--<button class="btn btn-circle btn-icon-only btn-default btn-xs dark" (click)='SaveCandidateID(myprofile.CandidateID)' tooltip="Blacklist Profile"
														tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="true" title="Blacklist Profile">-->
                                                            <!--<i class="icon-flag"></i> <!-Blacklist Profile-->
                                                        <!--</button>-->
													<!--<button class="btn btn-circle btn-icon-only btn-default btn-xs red" (click)='confirmDelete(myprofile.CandidateID)' tooltip="Delete Profile"
														tooltipPlacement="top" tooltipTrigger="mouseenter" title="Delete Profile" tooltipEnable="true" [disabled]="disableDelete(myprofile.Status)"
														[ifAuthorize]="[ 'PROFILEBANK.TRANSFEROWNERSHIP.MANAGE']">-->
                                                            <!--<i class="fa fa-remove "></i> <!-Delete Profile-->
                                                        <!--</button>-->
												<!--</div>
											</div>
											<detail-profile [selectedProfile]="myprofile" [CandidateRecruitmentMailDetails]="candidateMailDetails" [rrfID]="viewDetailsRRFId"></detail-profile>-->
											<!-- START Delete Confirmation Model dailog -->
											<!--<div id="deleteProfile{{myprofile.CandidateID.Value}}" class="modal fade">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<b>Delete Profile </b>
															<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
														</div>
														<div id="modalBody" class="modal-body">
															Are you sure you want to delete {{myprofile.Candidate}} profile ?
														</div>
														<div class="modal-footer">
															<button type="button" icon="fa-check" class="btn btn-info" (click)="deleteCandidate(myprofile.CandidateID)" label="">Yes</button>
															<button type="button" icon="fa-check" class="btn btn-default" (click)="onClearSelection(myprofile.CandidateID)" label="">No</button>

														</div>
													</div>
												</div>
											</div>-->
											<!-- START Delete Confirmation Model dailog -->
										<!--</td>-->
										<!--<td>
                                            <tr>
                                                <td style="float: left;">&nbsp; {{myprofile.Candidate}}</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; {{myprofile.Email}} </td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; {{myprofile.PrimaryContact}}</td>
                                            </tr>
                                        </td>
                                        <td> {{myprofile.Tag}} </td>
                                        <td>
                                            <tr>
                                                <td style="float: left;">&nbsp; Notice Period : {{myprofile.CandidateOtherDetails.NoticePeriod}}</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; Current Salary :{{myprofile.CandidateSalaryDetails.CurrentSalary}}</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; Expected Salary : {{myprofile.CandidateSalaryDetails.ExpectedSalary}}</td>
                                            </tr>
                                        </td>
                                        <td>
                                            <span class="mt-action-dot color{{myprofile.Status.Id}}"></span>{{myprofile.Status.Value}}
                                        </td>
                                        <td class="text-center">
                                            <a href="" download tooltip="Download Resume" tooltipPlacement="top" tooltipTrigger="mouseenter"><i class="fa fa-download" aria-hidden="true"></i></a>
                                        </td>-->
										<!--<td style="width=3%;" *ngIf="viewDetailsRRFId !=''">
                                            <a href="javascript:;" class="btn btn-xs grey-cascade" (click)='showRRFDetails(viewDetailsRRFId)'> View RRF
                                                                        <i class="fa fa-link"></i>
                                             </a>

                                            

                                        </td>-->
										<!--<td style="width:8%; Display:none;">
											<div class="btn-group">
												<button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Actions <i class="fa fa-angle-down"></i>-->
                                                           <!--<i class="fa fa-angle-down"></i>-->
                                                        <!--</button>
												<ul class="dropdown-menu pull-right" role="menu">
													<li>
														<a [routerLink]="['/App/ProfileBank/MyProfiles/Edit/'+ myprofile.CandidateID.Value +'ID'+ myprofile.CandidateID.Id]">
															<i class="icon-user"></i> Edit Profile </a>
													</li>
													<li class="divider"> </li>
													<li>
														<a (click)='SaveCandidateID(myprofile.CandidateID)'>
															<i class="icon-flag"></i> Blacklist Profile
														</a>
													</li>
													<li class="divider"> </li>
													<li>
														<a (click)='onClickScheduleInterview(myprofile.CandidateID)'>
															<i class="fa fa-calendar-check-o"></i> Schedule Interview
														</a>
													</li>
													<li class="divider"> </li>
													<li>
														<a (click)='onClickFollowUpComments(myprofile.CandidateID)'>
															<i class="fa fa-comments"></i> Follow Up Comments
														</a>
													</li>
													<li class="divider"> </li>
													<li>
														<a (click)='onClickUploadResume(myprofile.CandidateID)'>
															<i class="fa fa-upload"></i> Upload Resume
														</a>
													</li>
													<li class="divider"> </li>
													<li>
														<a (click)='redirectToView(myprofile.CandidateID)'>
															<i class="fa fa-search"></i> View Profile
														</a>
													</li>
													<li class="divider" [ifAuthorize]="[ 'PROFILEBANK.TRANSFEROWNERSHIP.MANAGE'] "> </li>-->
													<!-- TODO:: update Delete Permission once recive from backend -->
													<!--<li [ifAuthorize]="[ 'PROFILEBANK.TRANSFEROWNERSHIP.MANAGE'] ">
														<a (click)='deleteCandidate(myprofile.CandidateID)' [ifAuthorize]="[ 'PROFILEBANK.TRANSFEROWNERSHIP.MANAGE'] ">
															<i class="fa fa-remove"></i>Delete Profile</a>
													</li>
													<li class="divider"> </li>
													<li>
														<a (click)='getCandidateHistory(myprofile.CandidateID)'>
															<i class="fa fa-history"></i>View Interview History</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<span style="margin-top:5px;margin-left:15px" *ngIf='NORECORDSFOUND'>No Candidates Found</span>
						</div>-->
						<!--  My Profile Grid  END-->
						<!--  My Profile pagination Start-->
						<div class="row" *ngIf="!NORECORDSFOUND">
							<div class="col-md-10">
							</div>
							<div class="col-md-2 ">
								<button type="button" class="btn btn-default" [disabled]="!myProfilesList.GrdOperations.PreviousButton" (click)="OnPaginationClick(-1)">
                                        &laquo; Prev</button> &nbsp;&nbsp;
								<button type="button" class="btn btn-default" [disabled]="!myProfilesList.GrdOperations.NextButton" (click)="OnPaginationClick(1)">
                                        Next &raquo;</button>
							</div>
						</div>
						<!--  My Profile pagination END-->



					</div>
				</div>
				<!--VIEW RRF START-->
				<div class="portlet-body">
					<div class=" col-lg-12 " id="divTimeLine " *ngIf="isViewRFF">

						<div class="portlet light bordered col-lg-11 col-md-12 col-sm-12 col-xs-12 ">
							<div class="table-toolbar ">
								<div class="row ">
									<div class="col-md-6 ">
										<div class="btn-group ">
											<a class="btn green" (click)='showListOfRRF()'>Back</a>
										</div>
									</div>
								</div>
							</div>
							<view-RRF [RRFID]='viewRRFDetails'></view-RRF>
						</div>
					</div>
				</div>
				<!--VIEW RRF END-->
			</div>
			<!-- END PAGE BASE CONTENT -->
		</div>
		<!-- END CONTENT BODY -->
	</div>
	<!-- END CONTENT -->