<div class="row">
  <!--<span inline id="chartdivforGauge" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>-->
  <span id="chartdivforGauge1" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge3" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge2" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge4" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>

  <div **ngIf="guageChartData">
    <div *ngFor="let count of guageChartData.length">
      <div id="chartdivforGauge" class="col-md-6 col-sm-6" style="width:45%; height:200px;">11 - {{count}}</div>
    </div>
  </div>
</div>