<div class="row">
  <!--<span inline id="chartdivforGauge" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>-->
  <span id="chartdivforGauge1" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge3" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge2" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge4" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge5" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge6" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge7" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge8" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>
  <span id="chartdivforGauge9" class="col-md-6 col-sm-6" style="width:45%; height:200px;"></span>

  <!-- TODO:: Need to resolve dynamic id geration issue as well as dynamic binding in OnInit-->
  <!--<div *ngIf="guageChartData">
    HIHIH 
    <div *ngFor="let data of guageChartData; let index = index">
      hello hwllo  {{index+1}}
      <div id="chartdivforGauge" class="col-md-6 col-sm-6" style="width:45%; height:200px;">11 - {{index+1}}</div>
    </div>
  </div>-->
</div>