<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" style="margin-top: -26px !important;">
	<!-- BEGIN CONTENT BODY -->
	<div class="page-content" style="margin-left: 219px;margin-right: 0px;">
		<!--BEGIN breadcrumb -->
		<ul style="display:none" class="page-breadcrumb breadcrumb">
			<li>
				<a [routerLink]="['/App']"> Home </a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<span class="active">Show Schedule Interviews</span>
			</li>
		</ul>
		<!--End Breadcrumb>-->
		<div class="row">
			<div class="portlet light bordered" >
				<div class="portlet-body">
					<div class="row" >
						<div class="col-md-2 col-sm-2">
							<div class="dataTables_length" id="sample_1_length">
								<label>Show :
                                            <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline" 
                                            [(ngModel)]="InterviewDetailsList.GrdOperations.PerPageCount" 
                                            (ngModelChange)="onChange()">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select>
                                        </label>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<label>Filter
                                            <select class="form-control input-sm input-inline" [(ngModel)]="currentView"  (ngModelChange)="onViewChanged(currentView)">
                                                <option  value="myInterviews">My Schedule Interviews</option>
                                                <option  value="allInterviews">All Schedule Interviews</option>
                                            </select>
                                        </label>
						</div>
						<div class="col-md-3 col-sm-4">
							<div id="sample_1_filter" class="dataTables_filter">
								<label>Search 
                                            <input type="search" [(ngModel)]="searchString" class="form-control input-sm input-small input-inline " placeholder="" aria-controls="sample_1">
                                            </label>
							</div>
						</div>
					</div>
					<div class="table-scrollable " *ngIf="!NORECORDSFOUND">
						<table class="table table-striped table-bordered table-hover table-checkable order-column dataTable
                                            no-footer " role="grid " aria-describedby="sample_1_info ">
							<thead style="word-wrap: break-word; " class="thead">
								<tr>
									<!--<td width="20% "> <b>Raised by / Date</b> </td>
                                        <td width="30% "> <b>Position Details</b> </td>
                                        <td width="30% "> <b>Requirments </b></td>
                                        <td width="10% "> <b>Status </b></td>
                                        <td width="10% "><b> Action </b></td>-->
									<td> <b>RRF Details</b> </td>
									<td> <b>Candidate Details</b> </td>
									<td> <b>Interview Details </b></td>
									<td> <b>Interviewers</b></td>
									<td> <b>Interview Status </b></td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let interview of InterviewDetailsList.AllInterviews |AllScheduleInterviewPipe:searchString">
									<td> <a (click)='redirect(interview.RRFID.Value,interview.RRFCode)'> {{interview.RRFCode}}</a></td>
									<td> Name : {{interview.CandidateDetails.FullName}} <br/> Email:{{interview.CandidateDetails.Email}}
										<br/> Contact No : {{interview.CandidateDetails.Contact}}
									</td>
									<td>
										InterviewDate : {{formatDate(interview.InterviewDate)}} <span style="float: right;">Time: {{interview.InterviewFromTime}} - {{interview.InterviewToTime}}</span>
										<br/> Round : {{interview.Round.Value}}
										<span style="float: right;">Mode : {{interview.InterviewMode.Value}} </span>
									</td>
									<td>
										<div>
											<div *ngFor="let interviewers of interview.InterviewerAvailability">
												{{interviewers.Interviewer.Value}}
											</div>
										</div>
									</td>
									<td>
										{{interview.Status}}
									</td>
								</tr>
							</tbody>

						</table>


					</div>
					<div class="table-scrollable ">
						<span style="margin-top:5px;margin-left:15px" *ngIf='NORECORDSFOUND'>No Records Found</span>
					</div>
					<div class="row" *ngIf="!NORECORDSFOUND">
						<div class="col-md-10">
						</div>
						<div class="col-md-2 ">
							<button type="button" class="btn btn-default" [disabled]="!InterviewDetailsList.GrdOperations.PreviousButton" (click)="OnPaginationClick(-1)">
                                        &laquo; Prev</button> &nbsp;&nbsp;
							<button type="button" class="btn btn-default" [disabled]="!InterviewDetailsList.GrdOperations.NextButton" (click)="OnPaginationClick(1)">
                                        Next &raquo;</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE BASE CONTENT -->
	</div>
	<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->