<style>
.scroll-to-top{
bottom: 0px !important;
}
.Footerclass{
width:110% !important; 
margin-left: -5% !important;
}
.page-footer-fixed-inner{
margin-left: 27px !important;
}

</style>
<!-- BEGIN FOOTER -->
<div class="page-footer navbar navbar-fixed-bottom">
    <div class="Footerclass">
      <div class="portlet light bordered">
            <div class="page-footer-fixed-inner"> 2016 &copy; Eternus Solutions Pvt Ltd.
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER -->
