<style>
    .scroll {
        min-height: 400px !important;
        max-height: 400px !important;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" style="margin-top: -26px !important;">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="margin-left: 219px;margin-right: 0px;">
        <!--BEGIN breadcrumb -->
        <ul style="display:none" class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Master Page</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <div class="row">
            <div class="portlet light bordered" style="min-height: 505px; max-height: 505px;">
                <div class="portlet-title">
                    <!--<div class="row">-->
                    <div class="col-md-5">
                        <h4><i class="icon-calendar"></i> Feature Master</h4>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div id="sample_1_filter" class="dataTables_filter">

                                <form role="form" (submit)="OnSubmitFeature()">
                                    <div class="row" style="margin-left: 5px;">
                                        <!--<div>
                                            <div class="form-group">
                                                <label> ID </label>
                                                <input type="text" class="form-control text-capitalize" required="" maxlength="30" />
                                            </div>
                                        </div>-->
                                        <div>
                                            <div class="form-group ">
                                                <label>Feature Name <span class="required"> * </span></label>
                                                <input type="text" class="form-control text-capitalize" required="" [(ngModel)]="selectedFeature.Value" maxlength="100" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="float:right">
                                        <button type="submit" class="btn green" [disabled]="IsDisable"> {{action}}</button>
                                        <button type="reset" (click)="OnCancel()" class="btn red">Cancel</button>

                                        <br>
                                    </div>

                                </form>


                            </div>

                        </div>

                        <div class="col-md-9 col-sm-9">
                            <div class="dataTables_length" id="sample_1_length">
                                <div class="scroll">
                                    <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                        <thead>
                                            <tr>
                                                <th> Feature Name</th>

                                                <!--<th> Title </th>-->
                                                <th> Actions </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of Features">
                                                <!--<tr>-->
                                                <td>{{data.Value}}</td>
                                                <!--<td>{{data.Password}}</td>-->
                                                <!--<td>user 1</td>-->
                                                <td style="width:15%">
                                                    <button class="btn btn-circle btn-icon-only blue" (click)='edit(data)'> <i class="fa fa-edit "></i> </button>
                                                    <button class="btn btn-circle btn-icon-only red" (click)='delete(data)'> <i class="fa fa-trash "></i> </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!--<tbody *ngIf="EmployersInformationList.length === 0">
                                            <tr>
                                                <td colspan="6">
                                                    <strong>No entries </strong>
                                                </td>
                                            </tr>
                                        </tbody>-->
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
