<style>
    .scroll {
        min-height: 400px !important;
        max-height: 400px !important;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" style="margin-top: -26px !important;">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="margin-left: 219px;margin-right: 0px;">
        <!--BEGIN breadcrumb -->
        <ul style="display:none" class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Master Page</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <div class="row">
            <div class="portlet light bordered" style="min-height: 505px;">
                <div class="portlet-title">
                    <!--<div class="row">-->
                    <div class="col-md-5">
                        <h4><i class="icon-calendar"></i> Reasons data</h4>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div id="sample_1_filter" class="dataTables_filter">

                                <form role="form" (submit)="OnSubmitReason()">
                                    <div class="row" style="margin-left: 5px;">
                                        <div>
                                            <div class="form-group">
                                                <label>Category <span class="required"> * </span></label>
                                                <!--<input type="text" class="form-control text-capitalize" required="" maxlength="30" />-->
                                                <select #focus autofocus class="form-control" [(ngModel)]='selectedReason.Category' name="selectReson" id="selectReson" required tabindex="1">
                                                    <option selected [disabled]=true value="0">-Select-</option>
                                                    <option value="IEF">IEF</option>
                                                    <option value="CloseRRF">Close RRF</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group ">
                                                <label>Reason <span class="required"> * </span></label>
                                                <textarea class="form-control text-capitalize" [(ngModel)]='selectedReason.Reason' onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null :(event.charCode==34 || event.charCode==39)? false: true" maxlength="250" id="txtReason" rows="2"
                                                    placeholder="Add Reason" style="resize:vertical" tabindex="2"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="float:right">
                                        <button type="submit" class="btn green" [disabled]="IsDisable"> {{action}}</button>
                                        <button type="reset" (click)="OnCancel()" class="btn red">Cancel</button>

                                        <br>
                                    </div>

                                </form>


                            </div>

                        </div>

                        <div class="col-md-9 col-sm-9">
                            <div class="dataTables_length" id="sample_1_length">
                                <div class="scroll">
                                    <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                        <thead>
                                            <tr>
                                                <th> Category</th>
                                                <th> Reason </th>
                                                <!--<th> Title </th>-->
                                                <th> Action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of reasonsData">
                                                <!--<tr>-->
                                                <td>{{data.Category}}</td>
                                                <td>{{data.Reason}}</td>
                                                <!-- <td>user 1</td> -->
                                                <td style="width:15%">
                                                    <button class="btn btn-circle btn-icon-only blue" (click)='edit(data)'> <i class="fa fa-edit "></i> </button>
                                                    <button class="btn btn-circle btn-icon-only red" (click)='delete(data)'> <i class="fa fa-trash "></i> </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!--<tbody *ngIf="EmployersInformationList.length === 0">
                                            <tr>
                                                <td colspan="6">
                                                    <strong>No entries </strong>
                                                </td>
                                            </tr>
                                        </tbody>-->
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->