<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" style="margin-top: -26px !important;">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="margin-left: 219px;margin-right: 0px;">
        <!--BEGIN breadcrumb -->
        <ul style="display:none" class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">All Interviews</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <div class="row">
            <div class="portlet light bordered" *ngIf="isListVisible">
                <div class="portlet-title">
                    <!--<div class="row">-->
                    <div class="col-md-5">
                        <h4><i class="icon-calendar"></i> All Interviews History Under Your Practice</h4>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="dataTables_length" id="sample_1_length">
                                <label>Show :
                                        <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline"
                                            [(ngModel)]="InterviewDetailsList.GrdOperations.PerPageCount"
                                            (ngModelChange)="onChange(InterviewDetailsList.GrdOperations.PerPageCount)" style="width:179px!important;">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select>
                                        </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <label>Filter
                                <select class="form-control input-inline" [(ngModel)]="InterviewDetailsList.GrdOperations.RRFFilters.Status" (change)="onViewChanged($event.target.value)">
                                    <option *ngFor="let status of candidateStatus" [value]="status.Id">{{status.Value}}</option>
                                </select>
                            </label>
                            <!--<select autofocus class="form-control" required="" (change)='setSelectedRole($event.target.value)' tabindex="1">
                          <option *ngFor="let type of Roles" [value]="type.Id">{{type.Value}}</option>
                      </select>-->
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div id="sample_1_filter" class="dataTables_filter pull-right">
                                <label>Search
                                            <input type="search" [(ngModel)]="searchString" class="form-control input-sm input-small input-inline " placeholder="" aria-controls="sample_1" style="width:179px!important;">
                                            </label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!NORECORDSFOUND">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable
                                            no-footer " role="grid " aria-describedby="sample_1_info ">
                            <thead style="word-wrap: break-word; " class="thead">
                                <tr>
                                    <div class="row">
                                        <div class="col-md-1 col-sm-1"> <b>RRF Details</b> </div>
                                        <div class="col-md-2 col-sm-2"> <b>Candidate Details</b> </div>
                                        <div class="col-md-4 col-sm-4"> <b><center>Interview Details</center> </b></div>
                                        <div class="col-md-2 col-sm-2"> <b>Interviewers</b></div>
                                        <div class="col-md-2 col-sm-2"> <b>Interview Status </b></div>
                                        <div class="col-md-1 col-sm-1"> <b>Action </b></div>
                                    </div>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let interview of InterviewDetailsList.AllInterviews | AllScheduleInterviewPipe:searchString">
                                    <div class="row" style=" padding: 8px;">
                                        <div class="col-md-1 col-sm-1"> <a (click)='showRRFDetails(interview.RRFID)'> {{interview.RRFCode}}</a></div>
                                        <div class="col-md-2 col-sm-2"> <b>Name :</b> {{interview.CandidateDetails.FullName}} <br/> <b>Email:</b>{{interview.CandidateDetails.Email}}
                                            <br/> <b>Contact No:</b> {{interview.CandidateDetails.Contact}}
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <b>InterviewDate :</b> {{formatDate(interview.InterviewDate)}} <span style="float: right;"><b>Time:</b> {{interview.InterviewFromTime}} - {{interview.InterviewToTime}}</span>
                                            <br/> <b>Round :</b> {{interview.Round.Value}}
                                            <span style="float: right;"><b>Mode :</b> {{interview.InterviewMode.Value}} </span>
                                            <br/> <b>Recruiter :</b> {{interview.Recruiter.Value}}
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div>
                                                <div *ngFor="let interviewers of interview.InterviewerAvailability">
                                                    {{interviewers.Interviewer.Value}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            {{interview.Status}}
                                        </div>
                                        <div class="col-md-1 col-sm-1">
                                            <!--<button> Show IEF</button>-->
                                            <button class="btn btn-xs green dropdown-toggle" (click)="onIEFClick(interview,interview.InterviewID)" type="button" data-toggle="dropdown" aria-expanded="false"> 
                                                {{interview.IEFButtonText?interview.IEFButtonText:"View IEF"}}
                                            </button>
                                        </div>
                                    </div>
                                    <!--</div>-->
                                    <div style="margin-top: -25px;">
                                        <div>
                                            <IEFGridRow [InterviewID]=interview.InterviewID *ngIf=interview.showIEF></IEFGridRow>
                                        </div>
                                    </div>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="table-scrollable ">
                        <span style="margin-top:5px;margin-left:15px" *ngIf='NORECORDSFOUND'>No Records Found</span>
                    </div>
                    <div class="row" *ngIf="!NORECORDSFOUND">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default" [disabled]="!InterviewDetailsList.GrdOperations.PreviousButton" (click)="OnPaginationClick(-1)">
                                        &laquo; Prev</button> &nbsp;&nbsp;
                            <button type="button" class="btn btn-default" [disabled]="!InterviewDetailsList.GrdOperations.NextButton" (click)="OnPaginationClick(1)">
                                        Next &raquo;</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col-lg-12 " id="divTimeLine " *ngIf="!isListVisible ">

                <div class="portlet light bordered col-lg-11 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="table-toolbar ">
                        <div class="row ">
                            <div class="col-md-6 ">
                                <div class="btn-group ">
                                    <a class="btn green" (click)='showListOfRRF()'>Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <view-RRF [RRFID]='viewDetailsRRFId'></view-RRF>
                </div>
            </div>



        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->