
.custom-portlet {
    background: #E7ECF1 !important;
    margin-left: -20px !important;
    margin-right: -20px !important;
      padding-top: 0 !important;
}

.details {
    border: 1px solid #E7ECF1 !important;
    margin-top: 15px !important;
}

.portlet.light>.portlet-title>.caption {
    padding-left: 10px;
}

.nopadding {
    padding-top: 0 !important;
}
.topmargin {
    margin-top: -40px;
}
.tooltip.customClass .tooltip-inner {
  color: #880000;
  background-color: #ffff66;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.tooltip.customClass .tooltip-arrow {
  display: none;
}